:root {
  --percent: 4%;
}

#container {
  width: 500px;;
  height: 500px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--percent));
}

.gridSquare {
  width: 100%;
  background-color: rgb(211,211,211);
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.trailColor {
  background-color: rgb(211,211,211);
  border-left: 1px solid black;
  border-top: 1px solid black;
  transition: all 0.2s ease;
}

.trailColor:hover {
  background-color: rgb(158, 158, 158);
}

.changeColor {
  background-color: blueviolet;
  border-left: 1px solid black;
  border-top: 1px solid black;
}