#container {
  background-color: rgb(220,220,220);
  border: 1px solid red;
  width: 400px;;
  height: 400px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
}

.gridSquare {
  width: 100%;
  background-color: blanchedalmond;
  border: 1px solid black;
}
