:root {
  --percent: 25%;
}

#container {
  background-color: rgb(220,220,220);
  border: 1px solid red;
  width: 1000px;;
  height: 1000px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--percent));
}

.gridSquare {
  width: 100%;
  background-color: rgb(211,211,211);
  border: 1px solid black;
}

.changeColor {
  background-color: blueviolet;
  border: 1px solid black;

}

.trailColor {
  background-color: rgb(211,211,211);
  border: 1px solid black;
  transition: all 0.2s ease;
}

.trailColor:hover {
  background-color: rgb(189, 189, 189);
}